.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonclass{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;  
  border: solid 1px black;
  margin:2px;
  cursor: pointer;
  height: 70px;
  width: 70px;  
  background-color: #ddd;
  opacity: 0.6;
  transition: 0.3s;
}

.gameover {
  text-align: center;
  font-size: 16px;
  color: black;
  margin-top:59px;
}

.item {
  text-align: center;
  line-height: 4;
}